/* ========== DESIGN SYSTEM ========== */
:root {
  /* Colors */
  --clr-prim-peach: #e7816b;
  --clr-prim-black: #1d1c1e;
  --clr-prim-white: #ffffff;

  --clr-sec-light-peach: #ffad9b;
  --clr-sec-dark-grey: #333136;
  --clr-sec-light-grey: #f1f3f5;
}

/* ========== RESET CSS ========== */

/* Box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
hr {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* set up the body */
body {
  font-family: 'Jost', sans-serif;

  font-weight: normal;

  text-rendering: optimizeSpeed;

  line-height: 1.5;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========== Background Colors ========== */
.bg-dark {
  background-color: var(--clr-prim-black);
}

.bg-peach {
  background-color: var(--clr-prim-peach);
}

/* ========== Border radius classes ========== */
.br-15 {
  border-radius: 15px;
}

/* ========== Button classes ========== */
.btn,
.btn-submit {
  width: fit-content;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 500ms ease, color 500ms ease;
}

.btn-dark,
.btn-on-light {
  padding: 1em 1.5em;
}

.btn-dark {
  background-color: var(--clr-prim-white);

  color: var(--clr-prim-black);
}

.btn-dark:hover {
  background-color: var(--clr-sec-light-peach);
  color: var(--clr-prim-white);
}

.btn-light {
  background-color: var(--clr-prim-peach);
  color: var(--clr-prim-white);
}

.btn-light:hover {
  background-color: var(--clr-sec-light-peach);
}

.btn-submit {
  align-self: flex-end;
  padding-inline: 3rem;
}

/* ========== Font color classes ========== */
.text-grey {
  color: var(--clr-sec-dark-grey);
}

.text-light {
  color: var(--clr-prim-white);
}

.text-dark {
  color: var(--clr-sec-dark-grey);
}

.text-peach {
  color: var(--clr-prim-peach);
}

/* ========== Font-size ========== */
.fs-15 {
  font-size: 0.938rem;
}

/* ========== Font-weight classes ========== */
.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

/* ========== Gap classes ========== */
.gap-16 {
  gap: 1rem;
}

.gap-20 {
  gap: 1.25rem;
}

/* ========== Letter spacing classes ========== */
.ls-2 {
  letter-spacing: 2px;
}

.ls-5 {
  letter-spacing: 5px;
}

/* ========== Opacity classes ========== */
.opacity-50 {
  opacity: 0.5;
}

/* ========== Position classes ========== */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* ========== Typography classes ========== */
.heading {
  line-height: 48px;
}

.heading-one {
  font-size: clamp(32px, calc(1.5vw + 26.36px), 48px);
}

.heading-two {
  font-size: clamp(28px, calc(1.1vw + 23.77px), 40px);
}

.heading-three {
  font-size: 1.25rem;

  line-height: 26px;
}

.body-text {
  font-size: 1rem;

  line-height: 26px;
}

/* ========== Text transform classes ========== */
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

/* ========== Utility classes ========== */
.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

/* ========== APP COMPONENT ========== */
.page-container {
  overflow: hidden;
  max-width: 1440px;
  width: 100%;

  margin-inline: auto;

  border: 1px solid green;
}

.container {
  max-width: 1190px;
  width: 100%;

  padding-inline: 2.5rem;

  margin-inline: auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10rem;
}

/* ========== HEADER COMPONENT ========== */
header {
  margin-block: 4rem;
}
.logo {
  width: 196px;
}

.main-nav {
  gap: 2.5rem;
}

.nav-item {
  font-size: 0.875rem;

  line-height: 14px;
}

.nav-item.active {
  text-decoration: underline;
}

.menu-icon {
  display: none;

  cursor: pointer;
}

.mobile-nav {
  display: none;
}

/* ========== HOME COMPONENT ========== */
.home-hero-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 640px;

  padding-top: 145px;
  padding-inline: 5.5vw;

  gap: 2rem;

  background-color: var(--clr-prim-peach);
  background-image: url(../src/assets/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;

  background-position: center right;

  z-index: 10;
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Keyframes for the fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.home-hero-section.active::before {
  position: absolute;
  content: '';

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 30;

  animation: fadeIn 0.2s ease forwards;
}

.article-wrapper {
  max-width: 540px;

  gap: 2.5rem;
}

.home-hero-section:not(.active)::before {
  animation: fadeOut 0.2s ease forwards;
}

.hero-article {
  gap: 0.75rem;
}

.hero-home-text {
  max-width: 445px;
}

.hero-image {
  margin-bottom: -50px;
}

.project-section {
  width: 100%;
  max-height: 640px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}

.project-link:hover::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;

  background-color: #e7826bba;

  border-radius: 15px;
}

.project-link:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.project-link:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.project-link:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.about-us-section {
  position: relative;

  margin-bottom: 25rem;

  gap: 2rem;
}

.leaf-pattern {
  position: absolute;
  transform: rotate(180deg);
  top: 8rem;
  right: -10rem;

  z-index: 1;
}

.about-us-card {
  gap: 3rem;
  z-index: 10;
}

.about-us-card-content {
  gap: 2rem;

  text-align: center;

  align-self: flex-end;
}

/* ========== PROJECT COMPONENT ========== */

.project-hero-section {
  width: 100%;
  max-height: 250px;

  padding-block: 4rem;

  background-color: var(--clr-prim-peach);

  border-radius: 15px;
}

.project-hero-article {
  max-width: 445px;

  gap: 1.5rem;

  text-align: center;
}

.bg-project-hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-app {
  background-image: url('../src/assets/app-design/desktop/bg-pattern-intro-app.svg');
}

.bg-web {
  background-image: url('../src/assets/web-design/desktop/bg-pattern-intro-web.svg');
}

.bg-graphic {
  background-image: url('../src/assets/graphic-design/desktop/bg-pattern-intro-graphic.svg');
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-image {
  object-fit: contain;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding: 2rem;
  gap: 1rem;

  background-color: #ffad9b59;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.project-page-section {
  gap: 2rem;
  max-height: 480px;

  margin-bottom: 20rem;
}

/* ========== COMPANY COMPONENT ========== */

.company-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10rem;
}
.company-hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  z-index: 50;
}

.company-leaf-image {
  position: absolute;
  top: 320px;
  left: -160px;

  z-index: 1;
}

.company-leaf-image-two {
  position: absolute;

  top: 1800px;
  right: -500px;

  z-index: -1;
}

.article-content {
  justify-content: center;

  gap: 1rem;

  background-color: var(--clr-prim-peach);
  background-image: url('../src/assets/about/desktop/bg-pattern-hero-about-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -50px right;

  padding-left: 3.5vw;
  padding-right: 1rem;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.company-hero-article-text {
  max-width: 450px;
}

.company-hero-img {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.talent-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  z-index: 50;
}

.talent-img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.talent-article {
  background-color: #fdf3f0;

  gap: 1rem;

  padding-inline: 2vw;

  background-image: url('../src/assets/shared/desktop/bg-pattern-two-circles.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left -200px;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.deal-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 25rem;

  z-index: 50;
}

.deal-article {
  justify-content: center;
  background-color: #fdf3f0;

  background-image: url('../src/assets/shared/desktop/bg-pattern-two-circles.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;

  gap: 1rem;

  padding-inline: 2vw;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.deal-img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* ========== LOCATION SECTION COMPONENT ========== */

.location-section {
  width: 100%;
  justify-content: space-around;

  z-index: 50;
}

.location-card {
  align-items: center;
  gap: 3rem;
}

.country-content {
  gap: 2rem;
}

/* ========== LOCATIONS COMPONENT ========== */
.locations-section {
  width: 100%;
  gap: 2rem;

  margin-bottom: 2rem;
}

.locations-section:last-child {
  margin-bottom: 20rem;
}

.office-info {
  flex: 1;
  justify-content: center;
  border-radius: 15px;
  background-color: #fdf3f0;

  padding-left: 3vw;
  padding-right: 1rem;

  gap: 1.5rem;

  background-image: url('../src/assets/shared/desktop/bg-pattern-two-circles.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.address-info {
  flex-wrap: wrap;
  gap: 1.5rem;
}

.map-container {
  width: 350px;
  height: 326px;

  border-radius: 15px;
}

/* ========== CONTACT COMPONENT ========== */
.contact-form-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: var(--clr-prim-peach);

  background-image: url('../src/assets/contact/desktop/bg-pattern-hero-desktop.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;

  gap: 3vw;

  padding: 3.5rem 3.5vw;
}

.contact-info {
  max-width: 450px;
  gap: 2rem;

  justify-content: center;
}

.form {
  flex: 1;
  gap: 1.5rem;
}

.input-container {
  width: 100%;
  border-bottom: thin solid var(--clr-prim-white);
  padding-bottom: 0.75rem;
}

.input-container:focus-within {
  border-bottom: 3px solid var(--clr-prim-white);
}

.input-field {
  background-color: transparent;
  outline: none;
  border: none;
}

.input-field:focus {
  outline: none;
}

.input-field::placeholder {
  color: var(--clr-prim-white);
  opacity: 0.5;
}

.error-icon-message {
  gap: 0.625rem;
}

.error-message {
  font-size: 0.75rem;
  font-style: italic;

  line-height: 26px; /* 216.667% */
}

/* ========== FOOTER COMPONENT ========== */
footer {
  padding-top: 15rem;
  padding-bottom: 4.5rem;
}

.footer-top {
  width: 100%;
  padding: 4.5rem 5.5vw 3rem;

  margin-top: -450px;

  gap: 3rem;
  background-color: var(--clr-prim-peach);
  background-image: url('../src/assets/shared/desktop/bg-pattern-call-to-action.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: 10;
}

.mobile-divider {
  display: none;
}

.footer-nav {
  gap: 2rem;
}

.footer-header-content {
  gap: 0.5rem;
}

.footer-header-content-text {
  max-width: 350px;
}

.footer-bottom {
  width: 100%;
  margin-top: 4.5rem;

  gap: 3rem;
}

.divider {
  width: 100%;
  height: 1px;

  background-color: var(--clr-prim-white);
  opacity: 0.1;
}

.address-content {
  gap: 5.5vw;
}

.address {
  max-width: 350px;
  width: 100%;
}

/* ========== SOCIAL LINKS COMPONENT ========== */

.social-links-container {
  align-self: flex-end;

  gap: 1rem;
}

.social-links-container > a svg:hover path {
  fill: var(--clr-sec-light-peach);
}

/* ========== MEDIA BREAKPOINTS ========== */

@media screen and (max-width: 950px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  /* ========== Typography classes ========== */
  .heading-one {
    line-height: 48px;
  }

  .logo {
    width: 157px;
  }

  .page-wrapper {
    gap: 7.5rem;
  }

  /* ========== HOME COMPONENT ========== */
  .home-hero-section {
    max-height: 840px;

    flex-direction: column;
    align-items: center;

    padding-top: 60px;

    gap: 4.375rem;

    background-position: top 101px right -82px;
  }

  .article-wrapper {
    align-items: center;

    gap: 1.125rem;
  }

  .hero-article {
    align-items: center;
    text-align: center;
  }

  .project-section {
    grid-template-columns: 1fr;

    gap: 1.5rem;
  }

  .project-link:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }

  .project-link:nth-child(2) {
    grid-column: 1 / 1;
    grid-row: 2/ 3;
  }

  .project-link:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }

  .about-us-section {
    flex-direction: column;
    margin-bottom: 20rem;
    column-gap: 3rem;
    row-gap: 2rem;
  }

  .about-us-card {
    flex-direction: row;
  }

  .about-us-card-content {
    gap: 0.5rem;
    align-self: center;

    text-align: left;
  }

  .about-us-card-content h3 {
    align-self: flex-start;
  }

  .leaf-pattern {
    display: none;
  }

  /* ========== PROJECT COMPONENT ========== */
  .project-page-section {
    flex-direction: column;
    margin-bottom: 25rem;
  }

  /* ========== COMPANY COMPONENT ========== */
  .company-hero-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .article-content {
    align-items: center;

    text-align: center;

    gap: 2rem;

    background-position: top -400px right 250px;
    background-size: cover;

    padding: 4rem 3.5rem;

    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 0;
  }

  .company-hero-img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0;
  }

  .talent-section {
    grid-template-columns: 1fr;
  }

  .talent-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  .talent-article {
    align-items: center;
    text-align: center;
    padding: 4rem 3.5rem;

    background-image: url('../src/assets/shared/desktop/bg-pattern-three-circles.svg');
    background-position: top -75px center;

    border-top-right-radius: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .deal-section {
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 20rem;
  }

  .deal-article {
    align-content: center;

    text-align: center;

    background-position: center center;

    gap: 1rem;

    padding: 4rem 3.5rem;

    border-top-left-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .deal-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0;
  }

  .company-leaf-image,
  .company-leaf-image-two {
    display: none;
  }

  /* ========== LOCATIONS COMPONENT ========== */
  .locations-section {
    flex-direction: column-reverse;
  }

  .locations-section:last-child {
    margin-bottom: 25rem;
  }

  .office-info {
    flex: 1;
    justify-content: center;
    border-radius: 15px;
    background-color: #fdf3f0;

    padding-block: 5.5rem;
    padding-inline: 4.5rem;
  }

  .map-container {
    width: 100%;
  }

  /* ========== LOCATION SECTION COMPONENT ========== */

  .location-section {
    flex-direction: column;
    align-items: center;

    gap: 5rem;
  }

  /* ========== CONTACT COMPONENT ========== */
  .contact-form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: var(--clr-prim-peach);

    background-image: url('../src/assets/contact/desktop/bg-pattern-hero-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;

    gap: 3vw;

    padding: 3.5rem 3.5vw;
  }

  .contact-info {
    max-width: 450px;
    gap: 2rem;

    justify-content: center;
  }

  .form {
    flex: 1;
    gap: 1.5rem;
  }

  .input-container {
    width: 100%;
    border-bottom: thin solid var(--clr-prim-white);
    padding-bottom: 0.75rem;
  }

  .input-container:focus-within {
    border-bottom: 3px solid var(--clr-prim-white);
  }

  .input-field {
    background-color: transparent;
    outline: none;
    border: none;
  }

  .input-field:focus {
    outline: none;
  }

  .input-field::placeholder {
    color: var(--clr-prim-white);
    opacity: 0.5;
  }

  .error-icon-message {
    gap: 0.625rem;
  }

  .error-message {
    font-size: 0.75rem;
    font-style: italic;

    line-height: 26px; /* 216.667% */
  }

  .form button {
    align-self: flex-end;
    padding-inline: 3rem;
  }

  /* ========== FOOTER COMPONENT ========== */
  footer {
    padding-top: 5rem;
  }

  .footer-top {
    margin-top: -350px;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .container {
    padding-inline: 0;
  }
  /* ========== Typography classes ========== */
  .heading-one {
    line-height: 36px;
  }

  .heading-two {
    line-height: 36px;

    letter-spacing: 1.4px;
  }

  .body-text {
    font-size: 0.938rem;

    line-height: 25px;
  }

  /* ========== HEADER COMPONENT ========== */

  .header {
    padding-inline: 1.5rem;
    margin-block: 2rem;
  }

  .main-nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .mobile-nav {
    position: absolute;

    top: 54px;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 2rem;

    padding: 3em 1.5rem;

    background-color: var(--clr-prim-black);

    z-index: 999;
  }

  .mobile-item {
    font-size: 1.5rem;

    line-height: 25px;
  }

  .mobile-item.active {
    text-decoration: underline;
  }

  /* ========== HOME COMPONENT ========== */
  .home-hero-section {
    padding-top: 80px;

    gap: 5.375rem;

    background-position: top 101px right -265px;

    border-radius: 0;
  }

  .hero-image {
    margin-bottom: -30px;
  }

  .project-section {
    padding-inline: 1.5rem;
  }

  .about-us-section {
    flex-direction: column;

    row-gap: 5rem;

    margin-bottom: 25rem;
  }

  .about-us-card {
    max-width: 350px;
    flex-direction: column;
    padding-inline: 1.5rem;
  }

  .about-us-card-content {
    gap: 2rem;
    align-self: center;

    text-align: center;
  }

  .about-us-card-content h3 {
    align-self: center;
  }

  /* ========== COMPANY COMPONENT ========== */
  .company-wrapper {
    gap: 0;
  }

  .article-content {
    gap: 1.5rem;

    padding: 5rem 1.5rem;

    background-position: top -100px right 50px;
    background-size: contain;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .company-hero-img {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .talent-img {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
  }

  .talent-article {
    padding: 5rem 1.5rem;

    background-position: top right;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .deal-section {
    margin-bottom: 25rem;
  }

  .deal-article {
    background-position: bottom right -150px;

    gap: 1rem;

    padding: 5rem 1.5rem;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .deal-img {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
  }

  /* ========== PROJECT COMPONENT ========== */
  .project-page-section {
    width: calc(100% - 3rem);
    margin-bottom: 25rem;
  }

  /* ========== FOOTER COMPONENT ========== */

  .footer-top {
    width: calc(100% - 3rem);
  }
  .divider {
    display: none;
  }

  .footer-bottom > div,
  .footer-bottom > div nav {
    flex-direction: column;
    gap: 2rem;
  }

  .address-content {
    flex-direction: column;
    gap: 2.5rem;
  }

  .mobile-divider {
    display: block;

    width: calc(100% - 3rem);

    height: 1px;

    background-color: var(--clr-prim-white);

    opacity: 0.1;
  }

  .social-links-container {
    margin-top: 2rem;
    align-self: center;
  }
  /* ========== LOCATIONS COMPONENT ========== */
  .locations-section {
    gap: 0;
    margin-bottom: 2.5rem;
  }

  .office-info {
    align-items: center;
    justify-content: center;

    background-position: center;

    padding-block: 5.5rem;
    padding-inline: 4.5rem;
  }

  .address-info {
    flex-direction: column;
    text-align: center;
    padding-inline: 1.5rem;
  }

  .map-container {
    width: 100%;
  }

  /* ========== PROJECT COMPONENT ========== */

  .project-hero-section {
    max-height: 320px;

    padding-block: 6.25rem;

    border-radius: 0;
  }

  .project-hero-article {
    padding-inline: 1.5rem;
  }

  .bg-app,
  .bg-web,
  .bg-graphic {
    background-image: url('../src/assets/home/desktop/bg-pattern-hero-home.svg');
  }

  .project-grid {
    place-items: center;
    width: calc(100% - 3rem);
    grid-template-columns: 1fr;
  }

  /* ========== LOCATION SECTION COMPONENT ========== */

  .location-section {
    padding-block: 5rem;
    width: calc(100% - 3rem);

    gap: 3rem;
  }
}
